<!DOCTYPE html>
<html>
<head>
	<title>forulaire de creation de pins</title>
</head>
<body>
<h1>Créations de pins<h1>
<p><a href="/">liste des pins</a></p>

{{form_start(monFormulaire)}}
		{{form_widget(monFormulaire)}}
		<input type="submit"  value="create pin">
{{form_end(monFormulaire)}}

</body>
</html>