<!DOCTYPE html>
<html>
<head>
	<title>Affichage des pins</title>
</head>
<body>
      <h1>{{pin.title}}<h1>
      <p>{{pin.description}}</p>
      <p><a href="{{ path("index") }}">Back</a></p>
</body>
</html>
